{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}"  media="screen,projection"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
	<script src="{% static 'vue.min.js' %}"></script>
	<script src="{% static 'axios.min.js' %}"></script>
</head>

<body>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('.modal').modal();
		});
	</script>
	<div id="menu">
		<nav>
			<div class="row nav-wrapper purple">
				<div class="col s12 m12">
					<a href="/cliente/index" class="brand-logo center">
						<b>My</b>Comic
					</a>
				</div>
				<div class="col s12 m12 l12">
				<ul id="nav-mobile" class="right hide-on-med-and-down">
						<div v-if="logged">
				        	<li><a @click="logout()">Logout</a></li>
				        </div>
				        <div v-else>
				        	<li><a href="#loginModal" class="modal-trigger">Login</a></li>
				        </div>
				    </ul>
				    </div>
			</div>
		</nav>
		{% block additional %}
		{% endblock %}
	</div>
	{% block content %}
	{% endblock %}
	<div id="loginModal" class="modal col s12 m4 ">
	    <div class="modal-content">
	      	<h4>Login</h4>
	      	<div class="row">
		        <div class="input-field col s12">
		          	<input 
		          		placeholder="Insert you username" 
		          		type="text" 
		          		class="validate" 
		          		v-model="crendentials.username">
		          	<label for="username">Username</label>
		        </div>
		        <div class="input-field col s12">
		          	<input 
		          		placeholder="Insert you password" 
		          		type="password" 
		          		class="validate" 
		          		v-model="crendentials.password">
		          	<label for="password">Password</label>
		        </div>
		    </div>
	    </div>
	    <div class="modal-footer">
	      	<a class="modal-action modal-close waves-effect waves-green btn-flat" @click.prevent="login(crendentials)">Log in</a>
	    </div>
	</div>
	<script type="text/javascript">
		var menu = new Vue({
			el:'#menu',
			delimiters: ['${', '}'],
			data:{
				logged:false,
				rapaz:'asdasd',
				novaObra:{
					nome:'',
					sinopse:'',
					capa:null
				}
			},
			methods:{
				logout(){
					console.log("desloga")
					localStorage.setItem('token', 'null');
					menu.logged = false
					Materialize.toast('Até logo ' + login.crendentials.username, 3000, 'rounded')
				},
				criarNovaObra(obra){
					config = Header()
					console.log(config)
					console.log(obra)
					axios.post('http://localhost:8000/core/obra/', obra, {headers:config})
						.then(function(response){
							Materialize.toast(response.data.nome + " criado com sucesso ^u^", 3000, 'rounded')
						})
						.catch(e => {
							console.log(e)
						})
				},
				processFile(event){
					menu.novaObra.capa = event.target.files[0]
				}
			}
		})
		var login = new Vue({
			delimiters: ['${', '}'],
			el:'#loginModal',
			data:{
				crendentials:{
					username:'',
					password:''
				}
			},
			mounted(){
				console.log('inicia')
				if(localStorage.getItem('token')=='null'){
					menu.logged = false
				}else{
					menu.logged = true
				}
				console.log(menu.logged)
			},
			methods:{
				login(crendentials){
					console.log(crendentials)
					axios.post('http://localhost:8000/core/get_auth_token/', crendentials)
						.then(function(response){
							localStorage.setItem('token',response.data.token)
							menu.logged = true
							Materialize.toast('Olá ' + login.crendentials.username, 3000, 'rounded')
						})
						.catch(e => {
							console.log(e)
						})
				},
			}
		})
		function Header(){
			return {'Authorization': 'Token '+ localStorage.getItem('token')};
		}
	</script>
</body>
</html>